# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
build/CMakeFiles/simplehttpserver.dir/compiler_depend.make
build/CMakeFiles/simplehttpserver.dir/compiler_depend.ts
build/CMakeFiles/simplehttpserver.dir/depend.make
build/CMakeFiles/simplehttpserver.dir/DependInfo.cmake
build/CMakeFiles/simplehttpserver.dir/flags.make
build/CMakeFiles/simplehttpserver.dir/link.txt
build/CMakeFiles/simplehttpserver.dir/progress.make
build/CMakeFiles/TargetDirectories.txt
build/deps/install/include/SDL3/SDL.h
build/deps/install/include/SDL3/SDL_assert.h
build/deps/install/include/SDL3/SDL_asyncio.h
build/deps/install/include/SDL3/SDL_atomic.h
build/deps/install/include/SDL3/SDL_audio.h
build/deps/install/include/SDL3/SDL_begin_code.h
build/deps/install/include/SDL3/SDL_bits.h
build/deps/install/include/SDL3/SDL_blendmode.h
build/deps/install/include/SDL3/SDL_camera.h
build/deps/install/include/SDL3/SDL_clipboard.h
build/deps/install/include/SDL3/SDL_close_code.h
build/deps/install/include/SDL3/SDL_copying.h
build/deps/install/include/SDL3/SDL_cpuinfo.h
build/deps/install/include/SDL3/SDL_dialog.h
build/deps/install/include/SDL3/SDL_egl.h
build/deps/install/include/SDL3/SDL_endian.h
build/deps/install/include/SDL3/SDL_error.h
build/deps/install/include/SDL3/SDL_events.h
build/deps/install/include/SDL3/SDL_filesystem.h
build/deps/install/include/SDL3/SDL_gamepad.h
build/deps/install/include/SDL3/SDL_gpu.h
build/deps/install/include/SDL3/SDL_guid.h
build/deps/install/include/SDL3/SDL_haptic.h
build/deps/install/include/SDL3/SDL_hidapi.h
build/deps/install/include/SDL3/SDL_hints.h
build/deps/install/include/SDL3/SDL_init.h
build/deps/install/include/SDL3/SDL_intrin.h
build/deps/install/include/SDL3/SDL_iostream.h
build/deps/install/include/SDL3/SDL_joystick.h
build/deps/install/include/SDL3/SDL_keyboard.h
build/deps/install/include/SDL3/SDL_keycode.h
build/deps/install/include/SDL3/SDL_loadso.h
build/deps/install/include/SDL3/SDL_locale.h
build/deps/install/include/SDL3/SDL_log.h
build/deps/install/include/SDL3/SDL_main.h
build/deps/install/include/SDL3/SDL_main_impl.h
build/deps/install/include/SDL3/SDL_messagebox.h
build/deps/install/include/SDL3/SDL_metal.h
build/deps/install/include/SDL3/SDL_misc.h
build/deps/install/include/SDL3/SDL_mouse.h
build/deps/install/include/SDL3/SDL_mutex.h
build/deps/install/include/SDL3/SDL_oldnames.h
build/deps/install/include/SDL3/SDL_opengl.h
build/deps/install/include/SDL3/SDL_opengl_glext.h
build/deps/install/include/SDL3/SDL_opengles.h
build/deps/install/include/SDL3/SDL_opengles2.h
build/deps/install/include/SDL3/SDL_opengles2_gl2.h
build/deps/install/include/SDL3/SDL_opengles2_gl2ext.h
build/deps/install/include/SDL3/SDL_opengles2_gl2platform.h
build/deps/install/include/SDL3/SDL_opengles2_khrplatform.h
build/deps/install/include/SDL3/SDL_pen.h
build/deps/install/include/SDL3/SDL_pixels.h
build/deps/install/include/SDL3/SDL_platform.h
build/deps/install/include/SDL3/SDL_platform_defines.h
build/deps/install/include/SDL3/SDL_power.h
build/deps/install/include/SDL3/SDL_process.h
build/deps/install/include/SDL3/SDL_properties.h
build/deps/install/include/SDL3/SDL_rect.h
build/deps/install/include/SDL3/SDL_render.h
build/deps/install/include/SDL3/SDL_revision.h
build/deps/install/include/SDL3/SDL_scancode.h
build/deps/install/include/SDL3/SDL_sensor.h
build/deps/install/include/SDL3/SDL_stdinc.h
build/deps/install/include/SDL3/SDL_storage.h
build/deps/install/include/SDL3/SDL_surface.h
build/deps/install/include/SDL3/SDL_system.h
build/deps/install/include/SDL3/SDL_test.h
build/deps/install/include/SDL3/SDL_test_assert.h
build/deps/install/include/SDL3/SDL_test_common.h
build/deps/install/include/SDL3/SDL_test_compare.h
build/deps/install/include/SDL3/SDL_test_crc32.h
build/deps/install/include/SDL3/SDL_test_font.h
build/deps/install/include/SDL3/SDL_test_fuzzer.h
build/deps/install/include/SDL3/SDL_test_harness.h
build/deps/install/include/SDL3/SDL_test_log.h
build/deps/install/include/SDL3/SDL_test_md5.h
build/deps/install/include/SDL3/SDL_test_memory.h
build/deps/install/include/SDL3/SDL_thread.h
build/deps/install/include/SDL3/SDL_time.h
build/deps/install/include/SDL3/SDL_timer.h
build/deps/install/include/SDL3/SDL_touch.h
build/deps/install/include/SDL3/SDL_tray.h
build/deps/install/include/SDL3/SDL_version.h
build/deps/install/include/SDL3/SDL_video.h
build/deps/install/include/SDL3/SDL_vulkan.h
build/deps/install/lib/cmake/SDL3/SDL3Config.cmake
build/deps/install/lib/cmake/SDL3/SDL3ConfigVersion.cmake
build/deps/install/lib/cmake/SDL3/SDL3headersTargets.cmake
build/deps/install/lib/cmake/SDL3/SDL3sharedTargets-release.cmake
build/deps/install/lib/cmake/SDL3/SDL3sharedTargets.cmake
build/deps/install/lib/cmake/SDL3/SDL3staticTargets-release.cmake
build/deps/install/lib/cmake/SDL3/SDL3staticTargets.cmake
build/deps/install/lib/cmake/SDL3/SDL3testTargets-release.cmake
build/deps/install/lib/cmake/SDL3/SDL3testTargets.cmake
build/deps/install/lib/pkgconfig/sdl3.pc
build/deps/install/share/licenses/SDL3/LICENSE.txt
build/deps/SDL3/
build/Makefile
build/native/cmake_install.cmake
build/native/CMakeCache.txt
build/native/CMakeFiles/4.1.0/CMakeCCompiler.cmake
build/native/CMakeFiles/4.1.0/CMakeCXXCompiler.cmake
build/native/CMakeFiles/4.1.0/CMakeSystem.cmake
build/native/CMakeFiles/4.1.0/CompilerIdC/apple-sdk.c
build/native/CMakeFiles/4.1.0/CompilerIdC/CMakeCCompilerId.c
build/native/CMakeFiles/4.1.0/CompilerIdCXX/apple-sdk.cpp
build/native/CMakeFiles/4.1.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/native/CMakeFiles/cmake.check_cache
build/native/CMakeFiles/CMakeConfigureLog.yaml
build/native/CMakeFiles/CMakeDirectoryInformation.cmake
build/native/CMakeFiles/InstallScripts.json
build/native/CMakeFiles/Makefile.cmake
build/native/CMakeFiles/Makefile2
build/native/CMakeFiles/progress.marks
build/native/CMakeFiles/simplehttpserver.dir/build.make
build/native/CMakeFiles/simplehttpserver.dir/cmake_clean.cmake
build/native/CMakeFiles/simplehttpserver.dir/compiler_depend.make
build/native/CMakeFiles/simplehttpserver.dir/compiler_depend.ts
build/native/CMakeFiles/simplehttpserver.dir/depend.make
build/native/CMakeFiles/simplehttpserver.dir/DependInfo.cmake
build/native/CMakeFiles/simplehttpserver.dir/flags.make
build/native/CMakeFiles/simplehttpserver.dir/link.txt
build/native/CMakeFiles/simplehttpserver.dir/progress.make
build/native/CMakeFiles/TargetDirectories.txt
build/native/compile_commands.json
build/native/Makefile
build/native/simplehttpserver
build/CMakeFiles/simplehttpserver.dir/compiler_depend.make
build_native.txt
wtfisthis.txt
.DS_Store
build_docker.txt
run_docker.txt
clean_docker.txt
Docker.txt
docs/pciaccess.md
logs/build/build_app_build_docker.txt
logs/build/build_base_deps_docker.txt
logs/build/build_debug_docker.txt
logs/build/build_filesystem_base_deps_builder_docker.txt
logs/build/build_filesystem_libs_build_builder_docker.txt
logs/build/build_runtime_docker.txt
logs/clean/clean_app_build_docker.txt
logs/clean/clean_base_deps_docker.txt
logs/clean/clean_debug_docker.txt
logs/clean/clean_filesystem_base_deps_builder_docker.txt
logs/clean/clean_filesystem_libs_build_builder_docker.txt
logs/clean/clean_runtime_docker.txt
DCkr.txt
logs/build/cmake_output.txt
build/cmake/cmake_install.cmake
build/cmake/CMakeCache.txt
build/cmake/CMakeFiles/4.1.0/CMakeCCompiler.cmake
build/cmake/CMakeFiles/4.1.0/CMakeCXXCompiler.cmake
build/cmake/CMakeFiles/4.1.0/CMakeSystem.cmake
build/cmake/CMakeFiles/4.1.0/CompilerIdC/apple-sdk.c
build/cmake/CMakeFiles/4.1.0/CompilerIdC/CMakeCCompilerId.c
build/cmake/CMakeFiles/4.1.0/CompilerIdCXX/apple-sdk.cpp
build/cmake/CMakeFiles/4.1.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/cmake/CMakeFiles/cmake.check_cache
build/cmake/CMakeFiles/CMakeConfigureLog.yaml
build/cmake/CMakeFiles/CMakeDirectoryInformation.cmake
build/cmake/CMakeFiles/InstallScripts.json
build/cmake/CMakeFiles/Makefile.cmake
build/cmake/CMakeFiles/Makefile2
build/cmake/CMakeFiles/progress.marks
build/cmake/CMakeFiles/simplehttpserver.dir/build.make
build/cmake/CMakeFiles/simplehttpserver.dir/cmake_clean.cmake
build/cmake/CMakeFiles/simplehttpserver.dir/compiler_depend.make
build/cmake/CMakeFiles/simplehttpserver.dir/compiler_depend.ts
build/cmake/CMakeFiles/simplehttpserver.dir/depend.make
build/cmake/CMakeFiles/simplehttpserver.dir/DependInfo.cmake
build/cmake/CMakeFiles/simplehttpserver.dir/flags.make
build/cmake/CMakeFiles/simplehttpserver.dir/link.txt
build/cmake/CMakeFiles/simplehttpserver.dir/progress.make
build/cmake/CMakeFiles/TargetDirectories.txt
build/cmake/compile_commands.json
build/cmake/Makefile
logs/build/build.log
logs/debug/binary_debug.log
logs/debug/debug_summary.log
logs/debug/docker_debug.log
logs/debug/filesystem_debug.log
logs/debug/runtime_debug.log
docs/OLD DOCKER CODE JUST IN CASE.md
